<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSoperation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2621B0E1D86AB3800D562ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2621B271D86AB3900D562ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2621B321D86AB3A00D562ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
